<%= form_with(model: artist_show, local: true) do |form| %>
  <% if artist_show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist_show.errors.count, "error") %> prohibited this artist_show from being saved:</h2>

      <ul>
      <% artist_show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
